/* src/index.css */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}
/* 
.SideBar{
    background-color:rgb(183, 183, 183);
    padding-top: 0.5%;
    border-radius: 3%;
}
.SideBarHeader{
    text-decoration-line: none;
    color: rgb(35, 34, 34);
}
.SideBarIcon{
    margin-right: 1%;
} */